APPIUM_SERVER_URL=http://127.0.0.1:4723
ANDROID_SDK_ROOT=C:\Users\USER\AppData\Local\Android\Sdk
ANDROID_HOME=C:\Users\USER\AppData\Local\Android\Sdk
ANDROID_DEVICE_NAME=OnePlus 7 Pro
ANDROID_PLATFORM_VERSION=12
ANDROID_UDID=77eff566

# Confirm these on your device with:
# adb shell cmd package resolve-activity --brief in.startv.hotstar
JIOHOTSTAR_APP_PACKAGE=in.startv.hotstar
JIOHOTSTAR_APP_ACTIVITY=com.hotstar.MainActivity

# YouTube defaults.
YOUTUBE_APP_PACKAGE=com.google.android.youtube
YOUTUBE_APP_ACTIVITY=com.google.android.apps.youtube.app.WatchWhileActivity
YOUTUBE_SEARCH_TEXT=cricket
YOUTUBE_RESULT_INDEX=3

# Optional YouTube selector overrides copied from Appium Inspector.
YOUTUBE_SEARCH_ENTRY_SELECTOR=//android.widget.ImageView[@content-desc="Search"]
YOUTUBE_SEARCH_FIELD_SELECTOR=//android.widget.EditText[@resource-id="com.google.android.youtube:id/search_edit_text"]
YOUTUBE_RESULT_SELECTOR=android=new UiSelector().resourceId("com.google.android.youtube:id/results").childSelector(new UiSelector().className("android.view.ViewGroup").descriptionContains("").instance(2))

JIOHOTSTAR_SEARCH_TEXT=cricket
JIOHOTSTAR_RESULT_INDEX=3

# Optional JioHotstar selector overrides copied from Appium Inspector.
JIOHOTSTAR_SEARCH_ENTRY_SELECTOR=android=new UiSelector().descriptionContains("Search")
JIOHOTSTAR_SEARCH_FIELD_SELECTOR=android=new UiSelector().className("android.widget.EditText")
JIOHOTSTAR_RESULTS_PAGE_SELECTOR=//android.view.View[@resource-id="tag_search_results_page"]
JIOHOTSTAR_RESULT_SELECTOR=//android.view.View[@resource-id="tag_search_results_page"]//android.view.View[@resource-id="tag_search_result_horizontal_card_playable"]
